<h1>Bienvenue, <%= @artisan.company_name %>!</h1>

<p>Nous sommes ravis de vous accueillir sur CorsicaFacile, où vous pourrez :</p>
<ul>
  <li>Accéder à de nouvelles opportunités de projets.</li>
  <li>Entrer en contact direct avec les clients.</li>
  <li>Profiter de nos ressources et outils pour optimiser votre activité et développer votre réseau.</li>
</ul>

<p>Pour commencer, n'hésitez pas à compléter votre profil. Votre succès est notre priorité !</p>

<p>Merci de faire partie de notre communauté !</p>

<p>Cordialement,<br>L'équipe de CorsicaFacile</p>