<h1>Bienvenue, <%= @client.first_name %> <%= @client.last_name %>!</h1>

<p>Merci de vous être inscrit sur CorsicaFacile. Voici ce que vous pouvez faire :</p>
<ul>
  <li>Trouvez l'artisan qui correspond à vos besoins grâce à notre moteur de recherche.</li>
  <li>Expliquez vos besoins en détail via notre formulaire dédié.</li>
  <li>Donnez vie à vos projets.</li>
</ul>

<p>N'hésitez pas à compléter votre profil pour mieux profiter de nos services. Votre satisfaction est notre priorité !</p>

<p>Merci de faire partie de notre communauté !</p>

<p>Cordialement,<br>L'équipe de CorsicaFacile</p>